.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin: 15px;
    
}

.container div{
    width: 100%;
}

.line{
    border: 0.5px solid rgba(122, 118, 118, 0.481);
    height: auto;
    margin-right: 15px;
}

.picture-card img{
   width: 30%;
}

input[type="file"] {
    display: none;
}

.icons{
    margin-right: 10px;
}

.name{
    width: 100%;
}

.range{
    width: 100%;
    margin: 15px;
}

.slider{
    margin-top: 7px !important;
}

.age input{
    width: 50%;
    margin-left: 20px;
}

.form-label{
    margin-top: 5px !important;
}